{% extends "base.html" %}

{% block content %}
  <main >
    <div class="container wow fadeIn">

        
        
       
        
        <div>
            
        
           <h1 class="my-5 h2 text-center"><img src='/static/img/wefast-logo.png' class='iconDetails'>We Have Recieved you massage</h1>
           <h5 class="my-5 h5 text-center" class='iconDetails'>One of out customer care personel will contact you shorty within 24 hours!</h5>
           <h1 class="my-5 h2 text-center" class='iconDetails'>Thank You!!!</h1>


        </div>

    </div>
  </main>  
{%endblock%}