{% load cart_template_tags %}

<nav class="navbar fixed-top navbar-expand-lg" style="background-color: rgb(240, 244, 235);" scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="/">
        <img
        src="/static/img/wefast-logo.png"
        
        
        height="40"
        alt=""
        loading="lazy">

        <!-- <strong class="green-text">WeFast</strong> -->
      </a>

      
      
      
      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"  style="background-color: #4b5054;">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          {% comment %} <li class="nav-item active">
            <a class="nav-link waves-effect" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="/checkout">
            Checkout</a>
          </li> {% endcomment %}

          <!-- <li class="nav-item active">
            <a class="nav-link" href="/">Brands
              <span class="sr-only">(current)</span>
            </a>
          </li> -->
          
          <li class="nav-item">
            <a class="nav-link" href="/accessories">Accessories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/phones">Phones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/watches">Watches</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/laptops">Laptops</a>
          </li>

          <!-- <li class="nav-item">
            <a class="nav-link" href="/realme">Realme</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/oppo">Oppo</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/oneplus">OnePlus</a>
          </li> -->
          <form class="input-group">
            <div class="form-outline">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="q">
            </div>
            
          </form>
          
          

        </ul>

        </ul>

       
        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'core:order-summary' %}" class="nav-link waves-effect">
              <span class="badge red z-depth-1 mr-1"> {{ request.user|cart_item_count }} </span>
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Cart </span>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'core:orders-success' %}" class="nav-link waves-effect">
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> My Orders</span>
            </a>
          </li>
          <li class="nav-item">
           
            <form method="post" action="{% url 'account_logout' %}">
              {% csrf_token %}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
              {% endif %}
              <button class='btn btn-info btn-sm' type="submit">signout</button>

            </form>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'account_login' %}">
              <i class="fas fa-sign-in-alt"></i>
              <span class="clearfix d-none d-sm-inline-block"> Login </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'account_signup' %}">
              <i class="fas fa-user-plus"></i>
              <span class="clearfix d-none d-sm-inline-block"> Signup </span>
            </a>
          </li>
          {% endif %}
          
          
        
        
        
        </ul>
      </div>

    </div>
  </nav>