/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  width:640px;
  height:360px; }

/* Half Page Carousel itself*/
.carousel {
  height: 30%; }
  .carousel .carousel-inner {

    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Adjustment for mobile devices*/
@media (max-width: 776px) {
  .bg-transparent{
    background:#000 !important;
    }
    }
    .carousel-caption{
    padding-bottom:0;
    padding-top:0;
    bottom:0;
    top:50%;
    transform:translateY(-50%);
    }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #929FBA; }
